<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myControllerActonLabel" jhiTranslate="raspianoApp.controllerActon.home.createOrEditLabel">Create or edit a Controller Acton</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!controllerActon.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="controllerActon.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="raspianoApp.controllerActon.actionStart" for="field_actionStart">Action Start</label>
            <div class="d-flex">
                <input id="field_actionStart" type="datetime-local" class="form-control" name="actionStart" [(ngModel)]="controllerActon.actionStart"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="raspianoApp.controllerActon.actionEnd" for="field_actionEnd">Action End</label>
            <div class="d-flex">
                <input id="field_actionEnd" type="datetime-local" class="form-control" name="actionEnd" [(ngModel)]="controllerActon.actionEnd"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="raspianoApp.controllerActon.controller" for="field_controller">Controller</label>
            <select class="form-control" id="field_controller" name="controller" [(ngModel)]="controllerActon.controllerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="i2cControllerOption.id" *ngFor="let i2cControllerOption of i2ccontrollers; trackBy: trackI2cControllerById">{{i2cControllerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="raspianoApp.controllerActon.actionHistory" for="field_actionHistory">Action History</label>
            <select class="form-control" id="field_actionHistory" name="actionHistory" [(ngModel)]="controllerActon.actionHistoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="climateOption.id" *ngFor="let climateOption of climates; trackBy: trackClimateById">{{climateOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
