<div>
    <h2>
        <span jhiTranslate="raspianoApp.controllerActon.home.title">Controller Actons</span>
        <button class="btn btn-primary float-right create-controller-acton-my-suffix" [routerLink]="['/', { outlets: { popup: ['controller-acton-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="raspianoApp.controllerActon.home.createLabel">
            Create new Controller Acton
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="controllerActons">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="raspianoApp.controllerActon.actionStart">Action Start</span></th>
            <th><span jhiTranslate="raspianoApp.controllerActon.actionEnd">Action End</span></th>
            <th><span jhiTranslate="raspianoApp.controllerActon.controller">Controller</span></th>
            <th><span jhiTranslate="raspianoApp.controllerActon.actionHistory">Action History</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let controllerActon of controllerActons ;trackBy: trackId">
                <td><a [routerLink]="['../controller-acton-my-suffix', controllerActon.id ]">{{controllerActon.id}}</a></td>
                <td>{{controllerActon.actionStart | date:'medium'}}</td>
                <td>{{controllerActon.actionEnd | date:'medium'}}</td>
                <td>
                    <div *ngIf="controllerActon.controllerId">
                        <a [routerLink]="['../i-2-c-controller-my-suffix', controllerActon.controllerId  ]" >{{controllerActon.controllerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="controllerActon.actionHistoryId">
                        <a [routerLink]="['../climate-my-suffix', controllerActon.actionHistoryId  ]" >{{controllerActon.actionHistoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../controller-acton-my-suffix', controllerActon.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'controller-acton-my-suffix/'+ controllerActon.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'controller-acton-my-suffix/'+ controllerActon.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
