<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myI2cControllerLabel" jhiTranslate="raspianoApp.i2cController.home.createOrEditLabel">Create or edit a I 2 C Controller</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!i2cController.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="i2cController.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="raspianoApp.i2cController.controllerType" for="field_controllerType">Controller Type</label>
            <select class="form-control" name="controllerType" [(ngModel)]="i2cController.controllerType" id="field_controllerType"  required>
                <option value="MOTOR" jhiTranslate="raspianoApp.ControllerType.MOTOR">MOTOR</option>
                <option value="VALVE" jhiTranslate="raspianoApp.ControllerType.VALVE">VALVE</option>
            </select>
            <div [hidden]="!(editForm.controls.controllerType?.dirty && editForm.controls.controllerType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.controllerType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="raspianoApp.i2cController.turnOffDelayMs" for="field_turnOffDelayMs">Turn Off Delay Ms</label>
            <input type="number" class="form-control" name="turnOffDelayMs" id="field_turnOffDelayMs"
                [(ngModel)]="i2cController.turnOffDelayMs"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="raspianoApp.i2cController.turnOnDelayMs" for="field_turnOnDelayMs">Turn On Delay Ms</label>
            <input type="number" class="form-control" name="turnOnDelayMs" id="field_turnOnDelayMs"
                [(ngModel)]="i2cController.turnOnDelayMs"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="raspianoApp.i2cController.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" [(ngModel)]="i2cController.deviceId"  required>
                <option [ngValue]="i2cDeviceOption.id" *ngFor="let i2cDeviceOption of i2cdevices; trackBy: trackI2cDeviceById">{{i2cDeviceOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.device?.dirty && editForm.controls.device?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.device?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
