
<div *ngIf="i2cSensor">
    <h2><span jhiTranslate="raspianoApp.i2cSensor.detail.title">I 2 C Sensor</span> {{i2cSensor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="raspianoApp.i2cSensor.sensorType">Sensor Type</span></dt>
        <dd>
            <span jhiTranslate="{{'raspianoApp.SensorType.' + i2cSensor.sensorType}}">{{i2cSensor.sensorType}}</span>
        </dd>
        <dt><span jhiTranslate="raspianoApp.i2cSensor.minSensivity">Min Sensivity</span></dt>
        <dd>
            <span>{{i2cSensor.minSensivity}}</span>
        </dd>
        <dt><span jhiTranslate="raspianoApp.i2cSensor.maxSensivity">Max Sensivity</span></dt>
        <dd>
            <span>{{i2cSensor.maxSensivity}}</span>
        </dd>
        <dt><span jhiTranslate="raspianoApp.i2cSensor.device">Device</span></dt>
        <dd>
            <div *ngIf="i2cSensor.deviceId">
                <a [routerLink]="['/i-2-c-device', i2cSensor.deviceId]">{{i2cSensor.deviceId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'i-2-c-sensor/'+ i2cSensor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
