<div>
    <h2>
        <span jhiTranslate="raspianoApp.i2cSensor.home.title">I 2 C Sensors</span>
        <button class="btn btn-primary float-right create-i-2-c-sensor" [routerLink]="['/', { outlets: { popup: ['i-2-c-sensor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="raspianoApp.i2cSensor.home.createLabel">
            Create new I 2 C Sensor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="i2cSensors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="raspianoApp.i2cSensor.sensorType">Sensor Type</span></th>
            <th><span jhiTranslate="raspianoApp.i2cSensor.minSensivity">Min Sensivity</span></th>
            <th><span jhiTranslate="raspianoApp.i2cSensor.maxSensivity">Max Sensivity</span></th>
            <th><span jhiTranslate="raspianoApp.i2cSensor.device">Device</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i2cSensor of i2cSensors ;trackBy: trackId">
                <td><a [routerLink]="['../i-2-c-sensor', i2cSensor.id ]">{{i2cSensor.id}}</a></td>
                <td jhiTranslate="{{'raspianoApp.SensorType.' + i2cSensor.sensorType}}">{{i2cSensor.sensorType}}</td>
                <td>{{i2cSensor.minSensivity}}</td>
                <td>{{i2cSensor.maxSensivity}}</td>
                <td>
                    <div *ngIf="i2cSensor.deviceId">
                        <a [routerLink]="['../i-2-c-device', i2cSensor.deviceId  ]" >{{i2cSensor.deviceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../i-2-c-sensor', i2cSensor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'i-2-c-sensor/'+ i2cSensor.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'i-2-c-sensor/'+ i2cSensor.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
