<div>
    <h2>
        <span jhiTranslate="raspianoApp.measurement.home.title">Measurements</span>
        <button class="btn btn-primary float-right create-measurement-my-suffix" [routerLink]="['/', { outlets: { popup: ['measurement-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="raspianoApp.measurement.home.createLabel">
            Create new Measurement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="measurements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="raspianoApp.measurement.dateTime">Date Time</span></th>
            <th><span jhiTranslate="raspianoApp.measurement.value">Value</span></th>
            <th><span jhiTranslate="raspianoApp.measurement.source">Source</span></th>
            <th><span jhiTranslate="raspianoApp.measurement.dataHistory">Data History</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let measurement of measurements ;trackBy: trackId">
                <td><a [routerLink]="['../measurement-my-suffix', measurement.id ]">{{measurement.id}}</a></td>
                <td>{{measurement.dateTime | date:'medium'}}</td>
                <td>{{measurement.value}}</td>
                <td>
                    <div *ngIf="measurement.sourceId">
                        <a [routerLink]="['../i-2-c-sensor-my-suffix', measurement.sourceId  ]" >{{measurement.sourceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="measurement.dataHistoryId">
                        <a [routerLink]="['../climate-my-suffix', measurement.dataHistoryId  ]" >{{measurement.dataHistoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../measurement-my-suffix', measurement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'measurement-my-suffix/'+ measurement.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'measurement-my-suffix/'+ measurement.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
